* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  table {
    margin: 20px 0 0 0;
  }
  
  .calendar,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 400px;
    height: 30px;
    text-align: center;
  }
  
  thead {
    background-color: blue;
  }